@namespace "http://www.w3.org/1999/xhtml";
@namespace MATH "http://www.w3.org/1998/Math/MathML";
@namespace SVG "http://www.w3.org/2000/svg";

@font-feature-values Junicode {
	@styleset {
		Nordic-Alternates: 1;
		Enlarged-Minuscules: 6;
		Oldstyle-Punctuation: 18;
	}
}

@keyframes Blink {
	FROM { Color: Inherit }
	60% { Color: Transparent }
	TO { Color: Inherit }
}

*[Title] {
	Text-Decoration-Line: Underline;
	Text-Decoration-Style: Dotted;
}
*[Title=""] { Text-Decoration-Line: None }
*|*:Not(:Lang(en)) > :Lang(en),
*|*:Lang(en) { Quotes: "‘" "’" "“" "”" }
*|*:Lang("*-fonipa") {
	Font-Style: Normal;
	Font-Variant-Alternates: Styleset(Nordic-Alternates);
}
*|*:Link,
*|*:Visited {
	Color: #443628;
	Text-Decoration-Line: Underline;
	Text-Decoration-Style: Dashed;
}
*|*:Link:Hover,
*|*:Visited:Hover {
	Color: #776335;
	Text-Decoration-Style: Wavy;
}
*|*:Link:Active,
*|*:Visited:Active {
	Color: #993232;
	Text-Decoration-Style: Solid;
}
address {
	Margin: Auto;
	Inline-Size: -moz-Fit-Content;
	Font-Family: Monospace;
	Text-Align: Left;
	Hyphens: None;
}
article {
	Text-Align: Justify;
	Hyphens: Auto;
}
aside {
	Font-Size: Smaller;
	Font-Family: Sans-Serif;
	Font-Style: Italic;
	Font-Weight: Lighter;
	Text-Align: Left;
}
b { Font-Weight: Bold }
blink {  /*  "Compatibility"  */
	Text-Decoration-Line: None;
	Animation: 1.5S Infinite Step-End Blink;
}
blockquote {
	Margin-Block-Start: 1.25CH;
	Margin-Block-End: 1.25CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Border: Thin Solid;
	Padding-Block-Start: 2.5CH;
	Padding-Block-End: 2.5CH;
	Padding-Inline-Start: 2EM;
	Padding-Inline-End: 2EM;
	Max-Inline-Size: 27EM;
	Font-Style: Italic;
}
blockquote::AFTER { Content: No-Close-Quote }
blockquote::BEFORE { Content: No-Open-Quote }
blockquote blockquote {
	Margin-Inline-Start: 0;
	Border-Block-Start-Style: None;
	Border-Block-End-Style: None;
	Border-Inline-Start-Width: Medium;
	Border-Inline-End-Style: None;
	Padding-Inline-End: 0;
}
blockquote blockquote blockquote { Border-Inline-Start-Width: Thin }
figure > blockquote { Font-Size: Larger }
body {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 2EM;
	Margin-Inline-End: 2EM;
	Color: #332714;
	Background-Color: #FFF8E3;
	Font-Size: Medium!IMPORTANT;
	Line-Height: 1.35!IMPORTANT;
}
caption {
	Margin-Block-Start: 1.25CH;
	Margin-Block-End: 1.25CH;
}
code {
	Color: Black;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums Slashed-Zero;
}
col {
	Border-Color: Inherit;
	Border-Width: Inherit;
}
col:First-Child { Border-Inline-Start: 2EM Transparent Solid }
colgroup {
	Border-Color: Inherit;
	Border-Width: Inherit;
}
dd {
	Grid-Column-Start: 2;
	Grid-Column-End: 3;
	Box-Sizing: Border-Box;
	Margin: 0;
}
del,
del[Title] {
	Text-Decoration-Line: Line-Through;
	Text-Decoration-Style: Double;
}
dfn {
	Font-Style: Italic;
	Font-Weight: Bold;
}
dfn:Target {
	Margin: 0 -.25EM;
	Outline-Width: Thin;
	Outline-Style: Solid;
	Padding: 0 .25EM;
	Color: #227002;
	Background: #FFF8E3;
}
dialog {
	Padding-Block-Start: 2.5CH;
	Padding-Block-End: 2.5CH;
	Padding-Inline-Start: 1EM;
	Padding-Inline-End: 1EM;
	Color: #332714;
	Background-Color: #FFF8E3;
}
dl {
	Display: Grid;
	Grid-Row-Gap: .625CH;
	Grid-Column-Gap: .5EM;
	Grid-Template-Columns: MinMax(3.5EM, 7EM) MinMax(60%, 1fr);
	Box-Sizing: Border-Box;
	Clear: Both;
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: 100%;
	Max-Inline-Size: 31EM;
	Text-Align: Left;
}
dl[Hidden] { Display: None }
dt {
	Grid-Column-Start: 1;
	Grid-Column-End: 2;
	Box-Sizing: Border-Box;
	Color: #227002;
	Hyphens: Auto;
}
em,
em[Title] {
	Font-Style: Inherit;
	Text-Decoration-Line: Underline;
}
em em,
em em[Title] {
	Text-Decoration-Line: Underline;
	Text-Decoration-Style: Double;
}
figcaption {
	Margin-Block-Start: 2.5CH;
	Font-Size: X-Small;
	Font-Variant-Alternates: Styleset(Enlarged-Minuscules);
	Font-Variant-Numeric: Lining-Nums Proportional-Nums;
}
MATH|math[Display="block"] + figcaption { Margin-Block-Start: 0 }
figure {
	Box-Sizing: Border-Box;
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
}
footer {
	Font-Size: Smaller;
	Font-Style: Italic;
	Text-Align: Right;
}
blockquote > footer:Last-Child {
	Margin-Block-Start: 2.5CH;
	Font-Style: Normal;
}
h1 {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 0;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
	Font-Size: XX-Large;
	Font-Weight: Bolder;
	Text-Align: Left;
	Hyphens: None;
}
header h1 { Margin-Block-Start: 0 }
nav h1,
section h1,
h2 {
	Margin-Block-Start: 5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
	Font-Size: X-Large;
	Font-Family: Sans-Serif;
	Font-Weight: Bolder;
	Text-Align: Left;
	Hyphens: None;
}
header nav h1,
header section h1,
header h2 {
	Margin-Block-Start: 0;
	Margin-Block-End: 0;
}
nav section h1,
section nav h1,
section section h1,
h3 {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Border-Block-End: Thin CurrentColor Solid;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Font-Size: Large;
	Font-Weight: Bolder;
	Text-Align: Left;
}
header nav section h1,
header section nav h1,
header section section h1,
header h3 { Margin-Block-Start: 0 }
nav section section h1,
section nav section h1,
section section nav h1,
section section section h1,
h4 {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Font-Size: Medium;
	Font-Variant-Caps: Petite-Caps;
	Text-Align: Left;
}
nav section section section h1,
section nav section section h1,
section section nav section h1,
section section section nav h1,
section section section section h1,
h5 {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Font-Size: Small;
	Font-Weight: Bolder;
	Font-Variant-Caps: Titling-Caps;
	Text-Align: Left;
	Text-Transform: Uppercase;
}
nav section section section section h1,
section nav section section section h1,
section section nav section section h1,
section section section nav section h1,
section section section section nav h1,
section section section section section h1,
h6 {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Font-Size: Medium;
	Font-Style: Italic;
	Text-Align: Right;
}
header {
	Font-Family: Sans-Serif;
	Text-Align: Center;
}
html {
	Color: #332714;
	Background-Color: #FFF8E3;
	Font-Size: Medium!IMPORTANT;
	Font-Family: Junicode, Serif;
	Font-Synthesis: None;
	Line-Height: 1.35!IMPORTANT;
}
hr {
	Margin-Block-Start: 5CH;
	Margin-Block-End: 5CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Border-Style: None;
	Color: #776335;
	Text-Align: Center;
	Overflow: Hidden;
}
hr::AFTER { Content: "☙ ⁂ ❧" }
i { Font-Style: Italic }
aside i,
blockquote i { Font-Style: Normal }
iframe {
	Margin-Block-Start: 1.25CH;
	Margin-Block-End: 1.25CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Border-Style: Thin #887256 Solid;
	Color: #332714;
	Background-Color: #FFF8E3;
}
p img { Vertical-Align: Middle }
figure > img,
td > img,
th > img {
	Display: Block;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Border-Inline-Start: None;
	Border-Inline-End: None;
	Padding-Inline-Start: 0;
	Padding-Inline-End: 0;
	Inline-Size: 100%;
}
figure > img[Hidden],
td > img[Hidden],
th > img[Hidden] { Display: None }
INPUT:Not([Type="button"i]):Not([Type="checkbox"i]):Not([Type="color"i]):Not([Type="file"i]):Not([Type="image"i]):Not([Type="radio"i]) {
	Border-Style: Thin #887256 Solid;
	Color: #332714;
	Background-Color: #FFF8E3;
	Font-Family: Inherit;
}
ins,
ins[Title] {
	Text-Decoration-Line: Underline;
	Text-Decoration-Style: Double;
}
kbd {
	Display: Inline-Block;
	Margin: -1PX;
	Border-Style: 1PX #AA9F7F Solid;
	Color: #332714;
	Background-Color: #EEDDBF;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums Slashed-Zero;
}
kbd[Hidden] { Display: None }
mark {
	Margin: -1PX;
	Border-Style: 1PX #AA9F7F Solid;
	Color: #332714;
	Background: #FFF8E3;
}
ol {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Padding-Inline-Start: 2EM;
	List-Style-Type: Upper-Latin;
	Text-Align: Left;
}
ol ol { List-Style-Type: Upper-Roman }
ol ol ol { List-Style-Type: Decimal }
ol ol ol ol { List-Style-Type: Decimal-Leading-Zero }
ol ol ol ol ol { List-Style-Type: Lower-Greek }
p {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Font-Variant-Numeric: Oldstyle-Nums Proportional-Nums;
	Font-Variant-Alternates: Styleset(Oldstyle-Punctuation);
	Text-Align: Justify;
}
footer p,
header p {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
}
listing,  /*  Compatibility  */
plaintext,  /*  Compatibility  */
xmp,  /*  Compatibility  */
pre {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
}
strike,  /*  Compatibility  */
s {
	Text-Decoration-Line: Line-Through;
	Text-Decoration-Style: Wavy;
}
tt,  /*  Compatibility  */
samp { Font-Variant-Numeric: Lining-Nums Tabular-Nums Slashed-Zero }
strong {
	Color: #993232;
	Font-Weight: Bold;
}
sub {
	Vertical-Align: Baseline;
	Font-Variant-Position: Sub;
}
sup {
	Vertical-Align: Baseline;
	Font-Variant-Position: Super;
}
table {
	Caption-Side: Bottom;
	Margin-Block-Start: 1.25CH;
	Margin-Block-End: 1.25CH;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Border-Color: #443628;
	Border-Width: Thin;
	Border-Collapse: Collapse;
	Max-Inline-Size: 100%;
	Font-Size: Smaller;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums;
}
tbody {
	Border-Color: Inherit;
	Border-Width: Inherit;
}
td {
	Padding-Block-Start: .625CH;
	Padding-Block-End: .625CH;
	Padding-Inline-Start: .5EM;
	Padding-Inline-End: .5EM;
	Border-Inline-Start-Style: Solid;
	Border-Color: Inherit;
	Border-Width: Inherit;
}
tbody td:First-Child { Border-Inline-Start-Style: Hidden }
tbody td:Last-Child { Border-Inline-End-Style: Hidden }
textarea {
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Border: Thin #887256 Solid;
	Inline-Size: 100%;
	Max-Inline-Size: 27EM;
	Color: #332714;
	Background-Color: #FFF8E3;
	Font-Family: Inherit;
}
tfoot {
	Border-Color: #776335;
	Border-Width: Inherit;
	Background-Color: #EEDDBF;
	Font-Size: Smaller;
}
th {
	Padding-Block-Start: .625CH;
	Padding-Block-End: .625CH;
	Padding-Inline-Start: .5EM;
	Padding-Inline-End: .5EM;
	Border-Inline-Start-Style: Solid;
	Border-Color: #FFF8E3;
	Border-Width: Inherit;
	Color: #FFF8E3;
	Background-Color: #336633;
	Font-Weight: Bolder;
	Text-Align: Center;
}
tbody th:First-Child { Border-Inline-Start-Style: Hidden }
tbody th:Last-Child { Border-Inline-End-Style: Hidden }
thead {
	Border-Color: #FFF8E3;
	Border-Width: Inherit;
	Color: #FFF8E3;
	Background-Color: #336633;
	Font-Weight: Bolder;
}
tr {
	Border-Block-Start-Style: Solid;
	Border-Block-End-Style: Solid;
	Border-Color: Inherit;
	Border-Width: Inherit;
}
tbody > tr:First-Child {
	Border-Block-Start-Style: Solid;
	Border-Block-Start-Color: Transparent;
	Border-Block-Start-Width: 2.5CH;
}
tbody:First-Child > tr:First-Child { Border-Block-Start-Style: Hidden }
tbody > tr:Last-Child {
	Border-Block-End-Style: Solid;
	Border-Block-End-Color: Transparent;
	Border-Block-End-Width: 2.5CH;
}
tbody:Last-Child > tr:Last-Child { Border-Block-End-Style: Hidden }
u {
	Text-Decoration-Line: Underline;
	Text-Decoration-Style: Wavy;
}
dir,  /*  Compatibility  */
ul {
	Margin-Block-Start: 2.5CH;
	Margin-Block-End: 2.5CH;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Padding-Inline-Start: 2EM;
	Text-Align: Left;
}
ul { List-Style-Type: "⁃ " }
ul ul { List-Style-Type: "† " }
ul ul ul { List-Style-Type: "÷ " }
ul ul ul ul { List-Style-Type: "‡ " }
ul ul ul ul ul { List-Style-Type: "※ " }
var { Font-Family: Monospace }
MATH|math { Font-Variant-Numeric: Lining-Nums Tabular-Nums Stacked-Fractions Slashed-Zero }
MATH|math[Display="block"] {
	Margin-Block-Start: 1EM;
	Margin-Block-End: 1EM;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
	Max-Inline-Size: 31EM;
	Font-Size: Larger;
	Line-Height: 2;
}
SVG|svg { Fill: CurrentColor }
@-moz-document Domain(pinafore.social) {
	BODY:Not(.offline) {
		--button-primary-bg: #336633!IMPORTANT;
		--button-primary-text: #FFF8E3!IMPORTANT;
		--button-primary-border: #224422!IMPORTANT;
		--button-primary-bg-active: #227002!IMPORTANT;
		--button-primary-bg-hover: #336633!IMPORTANT;
		--button-bg: #EEDDBF!IMPORTANT;
		--button-text: #332714!IMPORTANT;
		--button-border: #AA9F7F!IMPORTANT;
		--button-bg-active: #AA9F7F!IMPORTANT;
		--button-bg-hover: #FFF8E3!IMPORTANT;
		--input-border: #EEDDBF!IMPORTANT;
		--anchor-text: #227002!IMPORTANT;
		--main-bg: #EEDDBF!IMPORTANT;
		--body-bg: #FFF8E3!IMPORTANT;
		--body-text-color: #332714!IMPORTANT;
		--main-border: #AA9F7F!IMPORTANT;
		--svg-fill: #887256!IMPORTANT;
		--form-bg: #FFF8E3!IMPORTANT;
		--form-border: #EEDDBF!IMPORTANT;
		--nav-bg: #EEDDBF!IMPORTANT;
		--nav-border: #AA9F7F!IMPORTANT;
		--nav-a-border: #EEDDBF!IMPORTANT;
		--nav-a-selected-border: #AA9F7F!IMPORTANT;
		--nav-a-selected-bg: #FFF8E3!IMPORTANT;
		--nav-svg-fill: #776335!IMPORTANT;
		--nav-text-color: #443628!IMPORTANT;
		--nav-a-selected-border-hover: #887256!IMPORTANT;
		--nav-a-selected-bg-hover: #FFF8E3!IMPORTANT;
		--nav-a-bg-hover: #EEDDBF!IMPORTANT;
		--nav-a-border-hover: #AA9F7F!IMPORTANT;
		--nav-svg-fill-hover: #776335!IMPORTANT;
		--nav-text-color-hover: #776335!IMPORTANT;
		--action-button-fill-color: #887256!IMPORTANT;
		--action-button-fill-color-hover: #AA9F7F!IMPORTANT;
		--action-button-fill-color-active: #776335!IMPORTANT;
		--action-button-fill-color-pressed: #993232!IMPORTANT;
		--action-button-fill-color-pressed-hover: #BB5252!IMPORTANT;
		--action-button-fill-color-pressed-active: #993232!IMPORTANT;
		--action-button-deemphasized-fill-color: #443628!IMPORTANT;
		--action-button-deemphasized-fill-color-hover: #887256!IMPORTANT;
		--action-button-deemphasized-fill-color-active: #776335!IMPORTANT;
		--action-button-deemphasized-fill-color-pressed: #224422!IMPORTANT;
		--action-button-deemphasized-fill-color-pressed-hover: #336633!IMPORTANT;
		--action-button-deemphasized-fill-color-pressed-active: #227002!IMPORTANT;
		--settings-list-item-bg: #EEDDBF!IMPORTANT;
		--settings-list-item-text: #443628!IMPORTANT;
		--settings-list-item-text-hover: #776335!IMPORTANT;
		--settings-list-item-border: #887256!IMPORTANT;
		--settings-list-item-bg-active: #FFF8E3!IMPORTANT;
		--settings-list-item-bg-hover: #AA9F7F!IMPORTANT;
		--toast-bg: #333!IMPORTANT;
		--toast-border: #fafafa!IMPORTANT;
		--toast-text: #fff!IMPORTANT;
		--mask-bg: #AA9F7F!IMPORTANT;
		--mask-svg-fill: #FFF8E3!IMPORTANT;
		--mask-opaque-bg: #332714CC!IMPORTANT;
		--loading-bg: #EEDDBF!IMPORTANT;
		--account-profile-bg-backdrop-filter: #FFF8E3BB!IMPORTANT;
		--account-profile-bg: #FFF8E3EE!IMPORTANT;
		--deemphasized-text-color: #887256!IMPORTANT;
		--focus-outline: #887256!IMPORTANT;
		--very-deemphasized-link-color: #22700299!IMPORTANT;
		--very-deemphasized-text-color: #44362899!IMPORTANT;
		--status-direct-background: #FFF8EE!IMPORTANT;
		--main-theme-color: #227002!IMPORTANT;
		--warning-color: #993232!IMPORTANT;
		--alt-input-bg: #FFF8E3BB!IMPORTANT;
		--muted-modal-bg: Transparent!IMPORTANT;
		--muted-modal-focus: #AA9F7F!IMPORTANT;
		--muted-modal-hover: #FFF8E333!IMPORTANT;
		--compose-autosuggest-item-hover: #FFF8E3!IMPORTANT;
		--compose-autosuggest-item-active: #AA9F7F!IMPORTANT;
		--compose-autosuggest-outline: #AA9F7F!IMPORTANT;
		--compose-button-halo: #FFF8E311!IMPORTANT;
	}
}
