@namespace "http://www.w3.org/1999/xhtml";
@namespace MATH "http://www.w3.org/1998/Math/MathML";
@namespace SVG "http://www.w3.org/2000/svg";

@font-feature-values Junicode {
	@styleset {
		Nordic-Alternates: 1;
		Enlarged-Minuscules: 6;
		Oldstyle-Punctuation: 18;
	}
}

@keyframes UserContent-Blink {
	FROM { Color: Inherit }
	60% { Color: Transparent }
	TO { Color: Inherit }
}

*[Title] {
	Text-Decoration-Line: Underline;
	Text-Decoration-Style: Dotted;
}
*[Title=""] { Text-Decoration-Line: None }
*|*:Not(:Lang(en)) > :Lang(en),
*|*:Lang(en) { Quotes: "‘" "’" "“" "”" }
*|*:Lang("*-fonipa") {
	Font-Style: Normal;
	Font-Variant-Alternates: Styleset(Nordic-Alternates);
}
code {
	Font-Family: Monospace;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums Slashed-Zero;
}
del,
del[Title] {
	Text-Decoration-Line: Line-Through;
	Text-Decoration-Style: Double;
}
dfn {
	Font-Style: Italic;
	Font-Weight: Bold;
}
dfn:Target {
	Margin: 0 -.25EM;
	Outline: Thin Solid;
	Padding: 0 .25EM;
	Color: #000000;
	Background: #EEAE00;
}
dir,  /*  Compatibility  */
ol,
ul {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Margin-Inline-Start: 0;
	Margin-Inline-End: 0;
	Padding-Inline-Start: 4CH;
}
dt { Text-Decoration: Underline }
figcaption {
	Font-Size: X-Small;
	Font-Variant-Alternates: Styleset(Enlarged-Minuscules);
	Font-Variant-Numeric: Lining-Nums Proportional-Nums;
}
figure {
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
}
h1 {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 0;
	Font-Size: XX-Large;
	Font-Weight: Bolder;
	Hyphens: None;
}
header h1 { Margin-Block-Start: 0 }
nav h1,
section h1,
h2 {
	Margin-Block-Start: 5EX;
	Margin-Block-End: 2.5EX;
	Font-Size: X-Large;
	Font-Weight: Bolder;
	Hyphens: None;
}
header nav h1,
header section h1,
header h2 {
	Margin-Block-Start: 0;
	Margin-Block-End: 0;
}
nav section h1,
section nav h1,
section section h1,
h3 {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Font-Size: Large;
	Font-Weight: Bolder;
	Text-Decoration: Underline;
}
header nav section h1,
header section nav h1,
header section section h1,
header h3 { Margin-Block-Start: 0 }
nav section section h1,
section nav section h1,
section section nav h1,
section section section h1,
h4 {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Font-Size: Medium;
	Font-Variant-Caps: Petite-Caps;
}
nav section section section h1,
section nav section section h1,
section section nav section h1,
section section section nav h1,
section section section section h1,
h5 {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Font-Size: Small;
	Font-Weight: Bolder;
	Font-Variant-Caps: Titling-Caps;
	Text-Transform: Uppercase;
}
nav section section section section h1,
section nav section section section h1,
section section nav section section h1,
section section section nav section h1,
section section section section nav h1,
section section section section section h1,
h6 {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Font-Size: Medium;
	Font-Style: Italic;
	Text-Align: Right;
}
html {
	Font-Family: Junicode, Serif;
	Line-Height: 1.35;
}
iframe {
	Border-Style: Medium #05285c Outset;
	Color: #000000;
	Background-Color: #F0F0F0;
}
p img { Vertical-Align: Middle }
figure > img,
td > img,
th > img {
	Display: Block;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Border-Inline-Start: None;
	Border-Inline-End: None;
	Max-Inline-Size: 100%;
}
figure > img[hidden],
td > img[hidden],
th > img[hidden] { Display: None }
ins,
ins[title] { Text-Decoration: Double Underline }
kbd {
	Display: Inline-Block;
	Margin: -1PX;
	Border-Style: 1PX #000000 Solid;
	Color: #000000;
	Background-Color: #FFFFFF;
	Font-Family: Monospace;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums Slashed-Zero;
}
kbd[hidden] { Display: None }
mark {
	Color: #000000;
	Background: #EEAE00;
}
ol { List-Style-Type: Decimal }
ol ol { List-Style-Type: Upper-Latin }
ol ol ol { List-Style-Type: Upper-Roman }
ol ol ol ol { List-Style-Type: Decimal-Leading-Zero }
ol ol ol ol ol { List-Style-Type: Lower-Greek }
p {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Font-Variant-Numeric: Oldstyle-Nums Proportional-Nums;
	Font-Variant-Alternates: Styleset(Oldstyle-Punctuation);
}
listing,  /*  Compatibility  */
plaintext,  /*  Compatibility  */
xmp,  /*  Compatibility  */
pre {
	Margin-Block-Start: 2.5EX;
	Margin-Block-End: 2.5EX;
	Inline-Size: -moz-Fit-Content;
}
strike,  /*  Compatibility  */
s { Text-Decoration: Wavy Line-Through }
tt,  /*  Compatibility  */
samp {
	Font-Family: Monospace;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums Slashed-Zero;
}
table {
	Caption-Side: Bottom;
	Margin-Block-Start: 1.25EX;
	Margin-Block-End: 1.25EX;
	Max-Inline-Size: 100%;
	Overflow: Auto;
	Font-Size: Smaller;
	Font-Variant-Numeric: Lining-Nums Tabular-Nums;
}
td {
	Padding-Block-Start: .625EX;
	Padding-Block-End: .625EX;
	Padding-Inline-Start: 1CH;
	Padding-Inline-End: 1CH;
}
tfoot { Color: #05285C }
th {
	Padding-Block-Start: .625EX;
	Padding-Block-End: .625EX;
	Padding-Inline-Start: 1CH;
	Padding-Inline-End: 1CH;
	Font-Weight: Bolder;
	Text-Align: Center;
}
thead { Color: #8A1C00 }
u { Text-Decoration: Wavy Underline }
ul { List-Style-Type: "⁃ " }
ul ul { List-Style-Type: "† " }
ul ul ul { List-Style-Type: "÷ " }
ul ul ul ul { List-Style-Type: "‡ " }
ul ul ul ul ul { List-Style-Type: "※ " }
var { Font-Family: Monospace }
MATH|math { Font-Variant-Numeric: Lining-Nums Tabular-Nums Stacked-Fractions Slashed-Zero }
MATH|math[Display="block"] {
	Margin-Block-Start: 2EX;
	Margin-Block-End: 2EX;
	Margin-Inline-Start: Auto;
	Margin-Inline-End: Auto;
	Inline-Size: -moz-Fit-Content;
	Max-Inline-Size: 64CH;
	Font-Size: Larger;
	Line-Height: 2;
}
SVG|svg { Fill: CurrentColor }
@-moz-document Domain(pinafore.social) {
	BODY:Not(.offline) {
		--button-primary-bg: #336633!IMPORTANT;
		--button-primary-text: #FFF8E3!IMPORTANT;
		--button-primary-border: #224422!IMPORTANT;
		--button-primary-bg-active: #227002!IMPORTANT;
		--button-primary-bg-hover: #336633!IMPORTANT;
		--button-bg: #EEDDBF!IMPORTANT;
		--button-text: #332714!IMPORTANT;
		--button-border: #AA9F7F!IMPORTANT;
		--button-bg-active: #AA9F7F!IMPORTANT;
		--button-bg-hover: #FFF8E3!IMPORTANT;
		--input-border: #EEDDBF!IMPORTANT;
		--anchor-text: #227002!IMPORTANT;
		--main-bg: #EEDDBF!IMPORTANT;
		--body-bg: #FFF8E3!IMPORTANT;
		--body-text-color: #332714!IMPORTANT;
		--main-border: #AA9F7F!IMPORTANT;
		--svg-fill: #887256!IMPORTANT;
		--form-bg: #FFF8E3!IMPORTANT;
		--form-border: #EEDDBF!IMPORTANT;
		--nav-bg: #EEDDBF!IMPORTANT;
		--nav-border: #AA9F7F!IMPORTANT;
		--nav-a-border: #EEDDBF!IMPORTANT;
		--nav-a-selected-border: #AA9F7F!IMPORTANT;
		--nav-a-selected-bg: #FFF8E3!IMPORTANT;
		--nav-svg-fill: #776335!IMPORTANT;
		--nav-text-color: #443628!IMPORTANT;
		--nav-a-selected-border-hover: #887256!IMPORTANT;
		--nav-a-selected-bg-hover: #FFF8E3!IMPORTANT;
		--nav-a-bg-hover: #EEDDBF!IMPORTANT;
		--nav-a-border-hover: #AA9F7F!IMPORTANT;
		--nav-svg-fill-hover: #776335!IMPORTANT;
		--nav-text-color-hover: #776335!IMPORTANT;
		--action-button-fill-color: #887256!IMPORTANT;
		--action-button-fill-color-hover: #AA9F7F!IMPORTANT;
		--action-button-fill-color-active: #776335!IMPORTANT;
		--action-button-fill-color-pressed: #993232!IMPORTANT;
		--action-button-fill-color-pressed-hover: #BB5252!IMPORTANT;
		--action-button-fill-color-pressed-active: #993232!IMPORTANT;
		--action-button-deemphasized-fill-color: #443628!IMPORTANT;
		--action-button-deemphasized-fill-color-hover: #887256!IMPORTANT;
		--action-button-deemphasized-fill-color-active: #776335!IMPORTANT;
		--action-button-deemphasized-fill-color-pressed: #224422!IMPORTANT;
		--action-button-deemphasized-fill-color-pressed-hover: #336633!IMPORTANT;
		--action-button-deemphasized-fill-color-pressed-active: #227002!IMPORTANT;
		--settings-list-item-bg: #EEDDBF!IMPORTANT;
		--settings-list-item-text: #443628!IMPORTANT;
		--settings-list-item-text-hover: #776335!IMPORTANT;
		--settings-list-item-border: #887256!IMPORTANT;
		--settings-list-item-bg-active: #FFF8E3!IMPORTANT;
		--settings-list-item-bg-hover: #AA9F7F!IMPORTANT;
		--toast-bg: #333!IMPORTANT;
		--toast-border: #fafafa!IMPORTANT;
		--toast-text: #fff!IMPORTANT;
		--mask-bg: #AA9F7F!IMPORTANT;
		--mask-svg-fill: #FFF8E3!IMPORTANT;
		--mask-opaque-bg: #332714CC!IMPORTANT;
		--loading-bg: #EEDDBF!IMPORTANT;
		--account-profile-bg-backdrop-filter: #FFF8E3BB!IMPORTANT;
		--account-profile-bg: #FFF8E3EE!IMPORTANT;
		--deemphasized-text-color: #887256!IMPORTANT;
		--focus-outline: #887256!IMPORTANT;
		--very-deemphasized-link-color: #22700299!IMPORTANT;
		--very-deemphasized-text-color: #44362899!IMPORTANT;
		--status-direct-background: #FFF8EE!IMPORTANT;
		--main-theme-color: #227002!IMPORTANT;
		--warning-color: #993232!IMPORTANT;
		--alt-input-bg: #FFF8E3BB!IMPORTANT;
		--muted-modal-bg: Transparent!IMPORTANT;
		--muted-modal-focus: #AA9F7F!IMPORTANT;
		--muted-modal-hover: #FFF8E333!IMPORTANT;
		--compose-autosuggest-item-hover: #FFF8E3!IMPORTANT;
		--compose-autosuggest-item-active: #AA9F7F!IMPORTANT;
		--compose-autosuggest-outline: #AA9F7F!IMPORTANT;
		--compose-button-halo: #FFF8E311!IMPORTANT;
	}
}
@-moz-document Domain(weirder.earth), Domain(wandering.shop), Domain(fandom.ink), Domain(glitch.social), Domain(botsin.space) {
	*:-moz-Any(
		html,
		.scrollable,
		.search-popout,
		.drawer__inner,
		.dropdown-menu,
		.privacy-dropdown__dropdown,
		.emoji-mart
	)::AFTER,
	body>*:First-Child::AFTER,
	*.modal-root__modal:Not(.media-modal)::AFTER,
	*+*.scrollable:Not(.scrollable--flex)>*::AFTER,
	*.drawer__inner>*:Last-Child::AFTER {
		Position: Absolute;
		Inset: 0;
		Background: Var(--Principal-Colour-Override);
		Mix-Blend-Mode: Color;
		Pointer-Events: None;
		Z-Index: 7;
		Content: "";
	}
	*+*.scrollable:Not(.scrollable--flex)>*,
	*.modal-root__modal { Position: Relative }
	*.scrollable,
	*.react-swipeable-view-container,
	*.emoji-mart-scroll,
	*[style*=background],
	img,
	video {
		Position: Relative;
		Z-Index: 8!IMPORTANT;
	}
	*.search-popout,
	*.drawer__pager,
	*.drawer__inner,
	*.drawer__backdrop,
	*.dropdown-menu,
	*.privacy-dropdown__dropdown,
	*.emoji-picker-dropdown__menu,
	*.modal-root { Z-Index: 9!IMPORTANT }
	body>*:First-Child::AFTER,
	*.drawer__inner>*:Last-Child::AFTER {
		Display: Block;
		Position: Sticky;
		Top: Auto;
		Margin-Top: -100VH;
		Min-Height: 100VH;
		Max-Height: 100VH;
	}
}
@-moz-document Domain(weirder.earth) {
	html { --Principal-Colour-Override: #57534C }
}
@-moz-document Domain(wandering.shop) {
	html { --Principal-Colour-Override: #1AACEB }
}
@-moz-document Domain(fandom.ink) {
	html { --Principal-Colour-Override: #EB9100 }
}
@-moz-document Domain(glitch.social) {
	html { --Principal-Colour-Override: #50D952 }
}
@-moz-document Domain(botsin.space) {
	html { --Principal-Colour-Override: #FAE13E }
}
